.group-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2px;
}

.group-container div {
    text-align: center;
    margin-right: 10px;
}
