.grid-container {
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-column-gap: 16px;
}

.grid-left {
    display: grid;
    grid-row-gap: 16px;
}

.grid-row {
    /* Add any additional styles for the grid-row, if needed */
}
