/*.item-tile {*/
/*    position: relative;*/
/*    width: 100%;*/
/*}*/
.item-image-container {
    position: relative;
    max-width: 75px;
    max-height: 75px;
    /*width: 100%;*/
}
.item-image {
    max-width: 75px;
    max-height: 75px;
}
.unselected {
    opacity: 0.4;
}
.tooltip {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    visibility: hidden;
}
.tooltip .tooltip-content {
    position: absolute;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    max-width: 400px;
    white-space: nowrap;
    top: 100px;
    left: 10px;
}
.item-tile:hover .tooltip {
    visibility: visible;
}
